
  <div id="home">
    <div class="homepage">
      <div class="container">
      <div class="homepage-content">
        <!-- <h1>Matchee</h1> -->
        <h1 class="tilte">CrowdConf</h1>
        <p style="margin-bottom:40px"></p>
              <!--<div>
                <a class="homepage-button" href="/users/sign_in">Sign in</a>
              </div>-->
              <!--<br>
              <div>
               <a class="signup-button" href="/users/sign_up">Sign up</a>
              </div>-->
          <div class="homepage-message">
          <p style="color: white; padding:50px; font-weight: lighter" class="baseline">Financez des conférences privées <br> avec des sportifs, des politiques ou des artistes <br>grâce au crowdfunding </p>
        </div>
      </div>
      <div class="row">
       <aside>
        <div class="col-md-4">
          <h2>1</h2>
          <h4>Créer une pré-campagne de financement pour la conférence que vous souhaitez financier</h4>
        </div>
        <div class="col-md-4">
          <h2>2</h2>
          <h4>Quand un nombre de personnes minimum est atteint, Crowdconf contact le futur conférencier pour valider le lancement d'une campagne de financement</h4>
        </div>
        <div class="col-md-4">
          <h2>3</h2>
          <h4>Une fois que la campagne de financement est reussie, assitez tranquillement à votre conférence grâce à votre ordinateur, tablette ou pc depuis votre salon</h4>
        </div>

          <a href="info.html" class="page-scroll btn btn-lg">Plan & prix</a>
      </aside>
      </div>
    </div>
    </div>
  </div>
